.PortfolioCard {
    width: 100%;
    padding: var(--margin);
    background-color: var(--backColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: scale 0.3s ease-in-out;
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
}

.PageContent.PortfolioBlock:not(.Custom) > *:first-child {
    margin: 0;
}

.PortfolioCard .PPName {
        font-size: 1.15rem !important;
}

.PortfolioCard .PPCategory, .PortfolioCard .PPName {
    color: var(--accColor);
}

.PortfolioCard .PPCategory {
    opacity: 0.3;
}

.PortfolioCard:hover {
    cursor: pointer;
    scale: 1.03;
}

.PortfolioCard .PPImage {
    align-self: center;
    padding-top: 1rem;
}

.PortfolioCard .PPImage svg, .PPImage img.square, .PPImage img.horizontal {
    height: 7.5rem;
}

.PPImage svg.horizontal {
    height: 5rem;
}

.PPImage img.vertical {
    width: 8rem;
}


.PortfolioBlock {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding-top: 7rem;
}

@media (max-width: 768px) {


    .PortfolioBlock {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;

}

    .PortfolioCard {
        border: none;
        padding: var(--marginContent);
    }

    .PortfolioCard .PPCategory {
        font-size: 1.25rem !important;
        margin-bottom: 0.3rem;
    }

    .PortfolioCard .PPName {
        font-size: 1.5rem !important;
    }

    .PortfolioCard .PPImage {
        /* padding-top: 2rem; */
    }

    .PortfolioCard .PPImage svg {
        width: 30vw !important;
        aspect-ratio: 1/1;
    }

    .PortfolioCard:hover {
        scale:1;
    }

    .Page[data-page="1"] .PortfolioCard:first-child {
        padding-top: 15rem;
        height: 70vh;
    }


}