<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,orientation=portrait">
    <title>Alexain</title>
    <link rel="stylesheet" href="../css/work.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    
    <div id="Presentation" all-pages="12">


        <!-- HERO PAGE -->
        <div class="Page Active" data-page="1" style="--backColor: #ECF8FF; --accColor: #0883D6; --accColorRGB: 8, 131, 214; ">

            <div class="PageContent Custom">

                <div id="PC1_Image">
                    <svg preserveAspectRatio="none" viewBox="0 0 178 178" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_20_1387)">
<path d="M177.653 -0.00012207H0V177.653H177.653V-0.00012207Z" fill="url(#paint0_radial_20_1387)"/>
<g filter="url(#filter0_i_20_1387)">
<path d="M52.0854 39.8174L72.1152 59.8471C74.3005 62.0324 77.2633 63.2524 80.3469 63.2524H134.644C140.396 63.2524 145.075 58.5868 145.075 52.8219V39.804H52.0854V39.8174Z" stroke="white" stroke-width="9.07205" stroke-miterlimit="10"/>
</g>
<g filter="url(#filter1_i_20_1387)">
<path d="M32.5518 39.8175L57.8637 65.1295C61.1484 68.4141 61.1484 73.7366 57.8637 77.0213L32.5518 102.333" stroke="white" stroke-width="9.07205" stroke-miterlimit="10"/>
</g>
<g filter="url(#filter2_di_20_1387)">
<path d="M52.0854 102.333L71.4314 82.9872C74.0591 80.3595 77.6119 78.8848 81.3256 78.8848H109.909V91.9027C109.909 97.6542 105.243 102.333 99.4783 102.333H52.0854Z" stroke="white" stroke-width="9.07205" stroke-miterlimit="10" shape-rendering="crispEdges"/>
</g>
<g filter="url(#filter3_di_20_1387)">
<path d="M54.164 117.967H68.4958V130.985C68.4958 136.736 63.8302 141.415 58.0653 141.415H45.0474V127.083C45.0474 122.056 49.123 117.967 54.164 117.967Z" stroke="white" stroke-width="9.07205" stroke-miterlimit="10" shape-rendering="crispEdges"/>
</g>
<g opacity="0.4">
<mask id="mask0_20_1387" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="29" y="0" width="120" height="178">
<path d="M81.0029 126.654V144.873H135.555C142.741 144.873 148.56 139.43 148.56 132.7V114.48H94.0075C86.8215 114.48 81.0029 119.923 81.0029 126.654Z" fill="#27B4FF"/>
<path d="M29.5874 166.043V177.654H59.5515C60.4632 175.991 60.9994 174.101 60.9994 172.09V153.87H42.592C35.4059 153.87 29.5874 159.313 29.5874 166.043Z" fill="#27B4FF"/>
<path d="M33.5432 0.000549316C31.4115 2.17244 30.0977 5.0549 30.0977 8.2323V26.4521H79.9172C87.1032 26.4521 92.9217 21.0089 92.9217 14.2787V0.000549316L33.5432 0.000549316Z" fill="#27B4FF"/>
<path d="M104.813 0C102.682 2.17189 101.368 5.05435 101.368 8.23175V26.4515H135.542C142.728 26.4515 148.546 21.0084 148.546 14.2782V0L104.813 0Z" fill="#27B4FF"/>
<path d="M68.3335 166.042V177.653H147.098C148.01 175.99 148.546 174.1 148.546 172.089V153.869H81.338C74.152 153.869 68.3335 159.312 68.3335 166.042Z" fill="#27B4FF"/>
<path d="M121.197 87.7612V105.981H136.387C143.104 105.981 148.56 100.538 148.56 93.8077V75.5879H133.371C126.654 75.5879 121.197 81.031 121.197 87.7612Z" fill="#27B4FF"/>
</mask>
<g mask="url(#mask0_20_1387)">
<rect x="27.9932" y="-1.07678" width="120.589" height="178.73" fill="url(#paint1_linear_20_1387)"/>
</g>
</g>
</g>
<defs>
<filter id="filter0_i_20_1387" x="47.5493" y="32.9999" width="102.062" height="34.7885" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="-2.26801"/>
<feGaussianBlur stdDeviation="2.04121"/>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.32549 0 0 0 0 0.682353 0 0 0 0 0.929412 0 0 0 0.8 0"/>
<feBlend mode="multiply" in2="shape" result="effect1_innerShadow_20_1387"/>
</filter>
<filter id="filter1_i_20_1387" x="29.3442" y="34.342" width="35.519" height="71.1986" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="-2.26801"/>
<feGaussianBlur stdDeviation="2.04121"/>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.32549 0 0 0 0 0.682353 0 0 0 0 0.929412 0 0 0 0.8 0"/>
<feBlend mode="multiply" in2="shape" result="effect1_innerShadow_20_1387"/>
</filter>
<filter id="filter2_di_20_1387" x="32.667" y="65.8815" width="96.2931" height="55.503" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="3.02402" dy="3.02402"/>
<feGaussianBlur stdDeviation="5.74563"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.529412 0 0 0 0 0.752941 0 0 0 0.2 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_20_1387"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_20_1387" result="shape"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="-2.26801"/>
<feGaussianBlur stdDeviation="2.04121"/>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.32549 0 0 0 0 0.682353 0 0 0 0 0.929412 0 0 0 0.8 0"/>
<feBlend mode="multiply" in2="shape" result="effect2_innerShadow_20_1387"/>
</filter>
<filter id="filter3_di_20_1387" x="32.044" y="104.964" width="55.503" height="55.503" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="3.02402" dy="3.02402"/>
<feGaussianBlur stdDeviation="5.74563"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.529412 0 0 0 0 0.752941 0 0 0 0.2 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_20_1387"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_20_1387" result="shape"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="-2.26801"/>
<feGaussianBlur stdDeviation="2.04121"/>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.325208 0 0 0 0 0.682228 0 0 0 0 0.929167 0 0 0 0.8 0"/>
<feBlend mode="multiply" in2="shape" result="effect2_innerShadow_20_1387"/>
</filter>
<radialGradient id="paint0_radial_20_1387" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(170.116 177.653) rotate(-134.073) scale(235.282)">
<stop stop-color="#007ACD"/>
<stop offset="0.507114" stop-color="#1D9AED"/>
<stop offset="1" stop-color="#5CC0F2"/>
</radialGradient>
<linearGradient id="paint1_linear_20_1387" x1="27.9932" y1="-1.07678" x2="101.208" y2="114.128" gradientUnits="userSpaceOnUse">
<stop stop-color="#6CCCFF"/>
<stop offset="1" stop-color="#27B4FF"/>
</linearGradient>
<clipPath id="clip0_20_1387">
<rect width="177.653" height="177.653" rx="46.2023" fill="white"/>
</clipPath>
</defs>
</svg>

                </div>

                <div id="PC1_Title">
                    <h3 class="Twenty" id="PC1TCategory">Категория</h3>
                    <h1 class="Thirty" id="PC1TName">Название</h1>
                    <h2 class="Default TextSpacing" id="PC1TDescription">Описание работы </h2>
                </div>

                <button id="PC1_Button" class="ButtonPage" >
                    <span class="Twenty">Веб-сайт</span>

                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9998 1.4834V16.5164M15.9998 16.5164H0.966813M15.9998 16.5164L0.966819 1.49988" stroke-width="2"/>
                    </svg>
                </button>

            </div>
        </div>

        <div class="MobileContent">
            <div class="Page MobileFit BlackPage" data-page="2">

                <div class="PageContent" id="Gallery">

                    <div class="GalleryBlock" onclick="OpenGallery(this)" for="FullScreenPreview">
                        <img src="../images/works/wb/1.png" alt="">
                        <span class="Default">Смотреть полное изображение</span>
                    </div>

                    <div class="GalleryBlock" onclick="OpenGallery(this)" for="FullScreenPreview">
                        <img src="../images/works/droider/2.png" alt="">
                        <span class="Default">Смотреть полное изображение</span>
                    </div>
                </div>
            </div>

        <!-- TASK -->
            <div class="Page BlackPage" data-page="3">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent" id="P2_Content">
                    <h2 class="TwentyFive Header">Задача</h2>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Нужно было чтобы логотип отражал три идеи. </p>
                        <p class="Default TextSpacing">Первое — плавность и естественность, чтобы передать легкий опыт использования, как в названии Fluid. </p>
                        <p class="Default TextSpacing">Второе — ясная отсылка к тексту или речи, чтобы сразу было понятно, что это — телесуфлер. </p>
                        <p class="Default TextSpacing">Третье — современный технологичный вид, чтобы продукт воспринимался, как продвинутое решение, а не просто заметки.</p>
                    </div>
                </div>
            </div>

            <!-- SOLUTION -->
            <div class="Page" data-page="4">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent" id="P2_Content">
                    <h2 class="TwentyFive Header">Решение</h2>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Нужно было чтобы логотип отражал три идеи. </p>
                        <p class="Default TextSpacing">Первое — плавность и естественность, чтобы передать легкий опыт использования, как в названии Fluid. </p>
                        <p class="Default TextSpacing">Второе — ясная отсылка к тексту или речи, чтобы сразу было понятно, что это — телесуфлер. </p>
                    </div>
                </div>
            </div>

            <!-- REVIEW -->
            <div class="Page BlackPage" data-page="5">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent" id="P2_Content">
                    <h2 class="TwentyFive Header">Отзыв</h2>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Нужно было чтобы логотип отражал три идеи. </p>
                        <p class="Default TextSpacing">Первое — плавность и естественность, чтобы передать легкий опыт использования, как в названии Fluid. </p>
                        <p class="Default TextSpacing">Второе — ясная отсылка к тексту или речи, чтобы сразу было понятно, что это — телесуфлер. </p>
                        <p class="Default TextSpacing">Третье — современный технологичный вид, чтобы продукт воспринимался, как продвинутое решение, а не просто заметки.</p>
                    </div>
                </div>
            </div>

            <div class="Page BlackPage" data-page="6">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent" id="P5_Content">
                    <h2 class="TwentyFive Header">Процесс работы</h2>
                    <p class="Default TextSpacing TextBlock TextJustify">Сэкономьте время и узнайте весь процесс в одном видео длиной меньше минуты</p>
                    <div class="SpaceBetween">
                        <div id="PC5_Links">
                            <a href="" class="Twenty Link">TikTok</a>
                            <a href="" class="Twenty Link">YouTube</a>
                            <a href="" class="Twenty Link">VK</a>
                        </div>
                        <p class="Default" id="PC5_Subtitles">Доступны субтитры</p>
                    </div>

                    <p class="Default" id="PC5_ReadLater">Либо читайте далее</p>
                </div>
            </div>

            <div class="Page" data-page="7">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent">
                    <h3 class="Twenty Header">Более 20 скетчей</h3>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Нужно было чтобы логотип отражал три идеи. </p>
                        <p class="Default TextSpacing">Первое — плавность и естественность, чтобы передать легкий опыт использования, как в названии Fluid. </p>
                        <p class="Default TextSpacing">Второе — ясная отсылка к тексту или речи, чтобы сразу было понятно, что это — телесуфлер. </p>
                        <p class="Default TextSpacing">Третье — современный технологичный вид, чтобы продукт воспринимался, как продвинутое решение, а не просто заметки.</p>
                    </div>

                    <div class="ImageBlock Right">
                        <div class="IBImage">

                        </div>

                        <p class="Default IBAlt">Из них клиенту понравился один из них</p>
                    </div>
                </div>
            </div>

            <div class="Page" data-page="8">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent">
                    <h3 class="Twenty Header">Разработка</h3>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Нужно было чтобы логотип отражал три идеи. </p>
                        <p class="Default TextSpacing">Первое — плавность и естественность, чтобы передать легкий опыт использования, как в названии Fluid. </p>
                    </div>

                    <div class="ImageBlock Right">
                        <div class="IBImage">

                        </div>

                        <p class="Default IBAlt TextJustify TextSpacing">В отличие от конкурентов, мы использовали простые формы, напоминающие бегущие строки, которые вместе образовывали букву F в качестве главного отличающего элемента, от простых прямоугольников, не отображающие идентичность бренда</p>
                    </div>
                </div>
            </div>

            <div class="Page" data-page="9">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent">
                    <h3 class="Twenty Header">Цвета и шрифты</h3>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Мы решили использовать сочетание цветов, которые наименее были распространены среди конкурентов</p>
                    </div>

                    <div class="ImageBlock">
                        <div class="IBImage Colors">
                            <div class="ColorBlock" style="--backColor: #54BBF1; --accColor: #fff;"><p>54BBF1</p></div>

                            <div class="ColorBlock" style="--backColor: #0781D4; --accColor: #fff;"><p>0781D4</p></div>

                            <div class="ColorBlock" style="--backColor: #F7FBFE; --accColor: #000;"><p>F7FBFE</p></div>
                        </div>
                    </div>

                    <div class="Right BlockRight">
                        <div class="FontBlock">
                            <div class="SpaceBetween">
                                <p class="DifferentFont Fourty">Aa</p>
                                <p class="Default">SF Pro Display</p>
                            </div>

                            <p class="Default TextSpacing TextJustify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        </div>

                        <div class="FontBlock">
                            <div class="SpaceBetween">
                                <p class="DifferentFont Fourty">Aa</p>
                                <p class="Default">Different Font</p>
                            </div>

                            <p class="Default TextSpacing TextJustify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        </div>

                        <p class="Default TextSpacing Italic AddText TextJustify">В своей работе я стараюсь всегда использовать бесплатные шрифты, либо искать аналоги платных.</p>
                    </div>
                </div>
            </div>

            <div class="Page" data-page="10">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent">
                    <h3 class="Twenty Header">Итог</h3>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">В итоге был отдан архим со всеми логотипами, включая:</p>
                    </div>

                    <div id="List">
                        <h3 class="Twenty">RGB и CMYK</h3>
                        <ul class="TextBlock TextJustify">
                            <p class="Default TextSpacing">AI файл проекта</p>
                            <p class="Default TextSpacing">PNG для печати</p>
                            <p class="Default TextSpacing">SVG для использования на сайте</p>
                            <p class="Default TextSpacing">ICN для иконки для macOS и iOS</p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="Page" data-page="11">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent">
                    <h2 class="Thirty Header Width25">Готовы сделать решение, <br>а не просто картинку?</h2>

                    <button id="PC10_Button" class="CenterButton ButtonPage" style="--backColor: #fff; --accColor: #000" onclick="OpenModule(this)" for="OrderNow">
                        <span class="Twenty">Начать работу</span>
                    </button>
                </div>
            </div>

            <div class="Page BlackPage" data-page="12">
                <div class="DesktopNavigation Interactive PageMargin">
                </div>

                <div class="PageContent" id="P11_Content">
                    <h2 class="TwentyFive Header">Связаться со мной</h2>
                    
                    <div class="List">
                        <a href="" class="Twenty Link">Telegram</a>
                        <a href="" class="Twenty Link">Email</a>
                        <a href="" class="Twenty Link">Linkedin</a>
                        <a href="" class="Twenty Link">VK</a>
                        <div class="Spacer"></div>
                        <a href="" class="Twenty Link">YouTube</a>
                        <a href="" class="Twenty Link">TikTok</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="DesktopNavigation Interactive PageMargin">
            <div class="ListHorizontal">
                <a href="" class="Twenty Link">Главная</a>
                <a href="" class="Twenty Link Actived">Портфолио</a>
                <a href="" class="Twenty Link">Отзывы</a>
            </div>
            <button class="Default Link NoneButton" onclick="switchLanguage()" lang-id="languageShort">EN</button>
        </div> 

    </div>

    <div id="PhoneNavigation" class="BlackPage Module">
        <button class="CrossMenu" onclick="CloseModule(this)" for="PhoneNavigation">
        </button> 

        <div class="List">
            <a href="" class="Thirty Link">Главная</a>
            <a href="" class="Thirty Link Actived">Портфолио</a>
            <a href="" class="Thirty Link">Отзывы</a>
        </div>

        <div id="PN_Language">

            <span class=" Twenty Actived" id="PNL_Ru" onclick="PNLButton(this)">Русский</span>
            <span class=" Twenty" id="PNL_En" onclick="PNLButton(this)">English</span>


        </div>
    </div>    

    <button class="BurgerMenu" onclick="OpenModule(this)" for="PhoneNavigation">
    </button>

    <div id="OrderNow" class="BlackPage Module ModulePages">
        <button class="CrossMenu" onclick="CloseModule(this)" for="OrderNow">
        </button> 

        <button class="ArrowLeft" onclick="BackPage(this)" for="OrderNow">
        </button> 



        <div class="MPages">
            <div class="MPage Actived" module-page="1" fixed>
                <div class="Header">
                    <p class="Thirty">Что вы хотите создать?</p>
                    

                    <div id="ONButtons" style="--accColor: transparent;">

                        <button class=" TwentyFive BackgroundButton" onclick="ModuleNextPage(this)" for="OrderNow">Логотип</button>
                        <button class=" TwentyFive BackgroundButton" onclick="ModuleNextPage(this)" for="OrderNow">Бренд-бук</button>
                    </div>
                </div>
            </div>

            <div class="MPage" module-page="2">
                <p class="Thirty Header">Замечательный выбор!</p>
                <p class="TwentyFive">Ответьте на простых 10 вопросов</p>

                <div id="ONInputs">
                    <label for="1" class=" TwentyFive">инпут 1</label>
                    <input type="text" name="1" id="" class=" TwentyFive" placeholder="placeholder..." oninput="inputOpenButton(this)">

                    <label for="2" class=" TwentyFive">инпут 2</label>
                    <input type="text" name="2" id="" class=" TwentyFive" placeholder="placeholder..." oninput="inputOpenButton(this)">

                    <label for="3" class=" TwentyFive">инпут 2</label>
                    <input type="text" name="3" id="" class=" TwentyFive" placeholder="placeholder..." oninput="inputOpenButton(this)">

                </div>

                <button id="ON2_Button" class=" TwentyFive Disabled BackgroundButton" onclick="ModuleNextPage(this)" for="OrderNow" style="--accColor: transparent;">Продолжить</button>
            </div>

            <div class="MPage" module-page="3">
                    <p class=" Thirty Header">Ответы скопированы!</p>
                    <p class=" TwentyFive">Пришлите мне их в любую социальгую сеть</p>

                    <div class="List">
                        <a href="" class="Twenty Link">Telegram</a>
                        <a href="" class="Twenty Link">Email</a>
                        <a href="" class="Twenty Link">Linkedin</a>
                        <a href="" class="Twenty Link">VK</a>
                        <div class="Spacer"></div>
                        <a href="" class="Twenty Link">YouTube</a>
                        <a href="" class="Twenty Link">TikTok</a>
                    </div>

                    <button id="ON3_Button" class="TwentyFive BackgroundButton" style="--accColor: transparent;">Копировать</button>
                </div>
        </div>


    </div>    

    <div id="FullScreenPreview" class="" onclick="CloseModule(this)" for="FullScreenPreview">
        <img src="../images/works/wb/1.png" alt="" id="FSPImage">
        <p class="Default">Нажмите в любое место для закрытия</p>
    </div>

    <!-- <div id="Cursor"><img src="images/cursor.png" alt=""></div>
    <div id="Cursor2" class=""></div> -->

    <script src="../js/language.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/module.js"></script>
    <script src="../js/work.js"></script>
    <script src="../js/flipper.js"></script>
</body>
</html>