<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,orientation=portrait">
    <title>Alexain</title>
    <link rel="stylesheet" href="../css/work.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    
    <div id="Presentation" all-pages="12">


        <!-- HERO PAGE -->
        <div id="PAGE_HERO" class="Page Active" data-page="1" style="--backColor: #ECF8FF; --accColor: #0883D6; --accColorRGB: 8, 131, 214; ">

            <div class="PageContent Custom">

                <div id="PC1_Image">

                </div>

                <div id="PC1_Title">
                    <h3 class="Twenty" id="PC1TCategory" lang-id="">Категория</h3>
                    <h1 class="Thirty" id="PC1TName" lang-id="name" lang-work="">Название</h1>
                    <h2 class="Default TextSpacing" id="PC1TDescription" lang-id="description" lang-work="">Описание работы </h2>
                </div>

                <button id="PC1_Button" class="ButtonPage" >
                    <span class="Twenty" lang-id="categoryWeb">Веб-сайт</span>

                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9998 1.4834V16.5164M15.9998 16.5164H0.966813M15.9998 16.5164L0.966819 1.49988" stroke-width="2"/>
                    </svg>
                </button>

            </div>
        </div>

        <div class="MobileContent">
            <div class="Page MobileFit BlackPage" data-page="2" id="PAGE_GALLERY">

                <div class="PageContent" id="Gallery">
                </div>
            </div>

        <!-- TASK -->
            <div class="Page BlackPage" data-page="3" id="PAGE_TASK">


                <div class="PageContent" id="P2_Content">
                    <h2 class="TwentyFive Header" lang-id="workTask">Задача</h2>
                    <div class="TextBlock TextJustify" id="PT_Text">
                    </div>
                </div>
            </div>

            <!-- SOLUTION -->
            <div class="Page" data-page="4" id="PAGE_SOLUTION">


                <div class="PageContent" id="P2_Content">
                    <h2 class="TwentyFive Header" lang-id="workSolution">Решение</h2>
                    <div class="TextBlock TextJustify" id="PS_Text">
                    </div>
                </div>
            </div>

            <!-- REVIEW -->
            <div class="Page BlackPage" data-page="5" id="PAGE_REVIEW">


                <div class="PageContent" id="P2_Content">
                    <h2 class="TwentyFive Header" lang-id="workReview">Отзыв</h2>
                    <div class="TextBlock TextJustify" id="PR_Text">
                    </div>
                </div>
            </div>

            <div class="Page BlackPage" data-page="6" id="PAGE_PROCESS">


                <div class="PageContent" id="P5_Content">
                    <h2 class="TwentyFive Header">Процесс работы</h2>
                    <p class="Default TextSpacing TextBlock TextJustify">Сэкономьте время и узнайте весь процесс в одном видео длиной меньше минуты</p>
                    <div class="SpaceBetween">
                        <div id="PC5_Links">
                            <a href="" class="Twenty Link">TikTok</a>
                            <a href="" class="Twenty Link">YouTube</a>
                            <a href="" class="Twenty Link">VK</a>
                        </div>
                        <p class="Default" id="PC5_Subtitles">Доступны субтитры</p>
                    </div>

                    <p class="Default" id="PC5_ReadLater">Либо читайте далее</p>
                </div>
            </div>

            <div class="Page PPW" data-page="7">


                <div class="PageContent">
                    <h3 class="Twenty Header">Более 20 скетчей</h3>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Нужно было чтобы логотип отражал три идеи. </p>
                        <p class="Default TextSpacing">Первое — плавность и естественность, чтобы передать легкий опыт использования, как в названии Fluid. </p>
                        <p class="Default TextSpacing">Второе — ясная отсылка к тексту или речи, чтобы сразу было понятно, что это — телесуфлер. </p>
                        <p class="Default TextSpacing">Третье — современный технологичный вид, чтобы продукт воспринимался, как продвинутое решение, а не просто заметки.</p>
                    </div>

                    <div class="ImageBlock Right">
                        <div class="IBImage">

                        </div>

                        <p class="Default IBAlt">Из них клиенту понравился один из них</p>
                    </div>
                </div>
            </div>

            <div class="Page PPW" data-page="8">


                <div class="PageContent">
                    <h3 class="Twenty Header">Разработка</h3>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Нужно было чтобы логотип отражал три идеи. </p>
                        <p class="Default TextSpacing">Первое — плавность и естественность, чтобы передать легкий опыт использования, как в названии Fluid. </p>
                    </div>

                    <div class="ImageBlock Right">
                        <div class="IBImage">

                        </div>

                        <p class="Default IBAlt TextJustify TextSpacing">В отличие от конкурентов, мы использовали простые формы, напоминающие бегущие строки, которые вместе образовывали букву F в качестве главного отличающего элемента, от простых прямоугольников, не отображающие идентичность бренда</p>
                    </div>
                </div>
            </div>

            <div class="Page PPW" data-page="9">


                <div class="PageContent">
                    <h3 class="Twenty Header">Цвета и шрифты</h3>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">Мы решили использовать сочетание цветов, которые наименее были распространены среди конкурентов</p>
                    </div>

                    <div class="ImageBlock">
                        <div class="IBImage Colors">
                            <div class="ColorBlock" style="--backColor: #54BBF1; --accColor: #fff;"><p>54BBF1</p></div>

                            <div class="ColorBlock" style="--backColor: #0781D4; --accColor: #fff;"><p>0781D4</p></div>

                            <div class="ColorBlock" style="--backColor: #F7FBFE; --accColor: #000;"><p>F7FBFE</p></div>
                        </div>
                    </div>

                    <div class="Right BlockRight">
                        <div class="FontBlock">
                            <div class="SpaceBetween">
                                <p class="DifferentFont Fourty">Aa</p>
                                <p class="Default">SF Pro Display</p>
                            </div>

                            <p class="Default TextSpacing TextJustify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        </div>

                        <div class="FontBlock">
                            <div class="SpaceBetween">
                                <p class="DifferentFont Fourty">Aa</p>
                                <p class="Default">Different Font</p>
                            </div>

                            <p class="Default TextSpacing TextJustify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        </div>

                        <p class="Default TextSpacing Italic AddText TextJustify">В своей работе я стараюсь всегда использовать бесплатные шрифты, либо искать аналоги платных.</p>
                    </div>
                </div>
            </div>

            <div class="Page PPW" data-page="10">


                <div class="PageContent">
                    <h3 class="Twenty Header">Итог</h3>
                    <div class="TextBlock TextJustify">
                        <p class="Default TextSpacing">В итоге был отдан архим со всеми логотипами, включая:</p>
                    </div>

                    <div id="List">
                        <h3 class="Twenty">RGB и CMYK</h3>
                        <ul class="TextBlock TextJustify">
                            <p class="Default TextSpacing">AI файл проекта</p>
                            <p class="Default TextSpacing">PNG для печати</p>
                            <p class="Default TextSpacing">SVG для использования на сайте</p>
                            <p class="Default TextSpacing">ICN для иконки для macOS и iOS</p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="Page" data-page="11" id="PAGE_END">


                <div class="PageContent">
                    <h2 class="Thirty Header Width25" lang-id="9header">Готовы сделать решение, <br>а не просто картинку?</h2>

                    <button id="PC10_Button" class="CenterButton ButtonPage" style="--backColor: #fff; --accColor: #000" onclick="OpenModule(this)" for="OrderNow">
                        <span class="Twenty" lang-id="orderNow">Начать работу</span>
                    </button>
                </div>
            </div>

            <div class="Page BlackPage" data-page="12" id="PAGE_CONTACTS">


                <div class="PageContent" id="P11_Content">
                    <h2 class="TwentyFive Header" lang-id="contacts">Связаться со мной</h2>
                    
                    <div class="List">
                        <a class=" Twenty Link" href="https://t.me/alex_desg">Telegram</a>
                        <a class=" Twenty Link" href="">Linkedin</a>
                        <a class=" Twenty Link" href="mailto:covalevalex@vk.com" id="ON3Email">Email</a>
                        <a class=" Twenty Link" href="https://vk.com/alex_de.sign">VK</a>
                        <div class="Spacer"></div>
                        <a href="" class="Twenty Link" href="https://youtube.com/@alex_de.sign_">YouTube</a>
                        <a href="" class="Twenty Link" href="https://www.tiktok.com/@alex_de.sign">TikTok</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="DesktopNavigation Interactive PageMargin DNColorful">
            <div class="ListHorizontal">
                <a href="" class="Twenty Link" lang-id="mainMenu" href="../index.html">Главная</a>
                <a href="" class="Twenty Link" lang-id="portfolioMenu" href="../portfolio.html">Портфолио</a>
                <!-- <a href="" class="Twenty Link" lang-id="reviewsMenu">Отзывы</a> -->
            </div>
            <button class="Default Link NoneButton" onclick="switchLanguage()" lang-id="languageShort">EN</button>
        </div> 

    </div>

    <div class="LightApperance">
        <div class="LALamp"></div>
    </div>

    <div id="PhoneNavigation" class="BlackPage Module">
        <button class="CrossMenu" onclick="CloseModule(this)" for="PhoneNavigation">
        </button> 

        <div class="List">
            <a href="" class="TwentyFive Link" lang-id="mainMenu" href="../index.html">Главная</a>
            <a href="" class="TwentyFive Link" lang-id="portfolioMenu" href="../portfolio.html">Портфолио</a>
            <!-- <a href="" class="Thirty Link" lang-id="reviewsMenu">Отзывы</a> -->
        </div>

        <div id="PN_Language">

            <span class=" Twenty Actived" id="PNL_Ru" onclick="PNLButton(this)">Русский</span>
            <span class=" Twenty" id="PNL_En" onclick="PNLButton(this)">English</span>


        </div>
    </div>    

    <button class="BurgerMenu" onclick="OpenModule(this)" for="PhoneNavigation">
    </button>

    <div id="OrderNow" class="BlackPage Module ModulePages">
        <button class="CrossMenu" onclick="CloseModule(this)" for="OrderNow">
        </button> 

        <button class="ArrowLeft" onclick="BackPage(this)" for="OrderNow">
        </button> 



        <div class="MPages">
            <div class="MPage Actived" module-page="1" fixed>
                <div class="Header">
                    <p class="Thirty">Что вы хотите создать?</p>
                    

                    <div id="ONButtons" style="--accColor: transparent;">

                        <button class=" TwentyFive BackgroundButton" onclick="ModuleNextPage(this); ONopenInputs(this) " for="OrderNow" lang-id="categoryLogotype">Логотип</button>
                    <button class=" TwentyFive BackgroundButton" onclick="ModuleNextPage(this); ONopenInputs(this)" for="OrderNow" lang-id="categoryBranding">Брендинг</button>
                    <button class=" TwentyFive BackgroundButton" onclick="ModuleNextPage(this); ONopenInputs(this)" for="OrderNow" lang-id="categoryWeb">Веб-сайт</button>
                    <button class=" TwentyFive BackgroundButton" onclick="ModuleNextPage(this); ONopenInputs(this)" for="OrderNow" lang-id="categoryAnimation">Анимация</button>
                    <button class=" TwentyFive BackgroundButton" onclick="ModuleNextPage(this); ONopenInputs(this)" for="OrderNow" lang-id="categoryInfographic">Инфографика</button>
                    <button class=" TwentyFive BackgroundButton" onclick="ModuleNextPage(this); ONopenInputs(this)" for="OrderNow" lang-id="categoryPrint">Печать</button>
                    </div>
                </div>
            </div>

            <div class="MPage" module-page="2">
                <p class="Thirty Header">Замечательный выбор!</p>
                <p class="TwentyFive">Ответьте на простых 10 вопросов</p>

                <div id="ONInputs">
                    <label for="1" class=" TwentyFive">инпут 1</label>
                    <input type="text" name="1" id="" class=" TwentyFive" placeholder="placeholder..." oninput="inputOpenButton(this)">

                </div>

                <button id="ON2_Button" class=" TwentyFive Disabled BackgroundButton" onclick="ModuleNextPage(this)" for="OrderNow" style="--accColor: transparent;">Продолжить</button>
            </div>

            <div class="MPage" module-page="3">
                    <p class=" Thirty Header">Ответы скопированы!</p>
                    <p class=" TwentyFive">Пришлите мне их в любую социальгую сеть</p>

                    <div class="List">
                        <a class=" Twenty Link" href="https://t.me/alex_desg">Telegram</a>
                        <a class=" Twenty Link" href="">Linkedin</a>
                        <a class=" Twenty Link" href="mailto:covalevalex@vk.com" id="ON3Email">Email</a>
                        <a class=" Twenty Link" href="https://vk.com/alex_de.sign">VK</a>
                    </div>

                    <button id="ON3_Button" class="TwentyFive BackgroundButton" style="--accColor: transparent;">Копировать</button>
                </div>
        </div>


    </div>    

    <div id="FullScreenPreview" class="" onclick="CloseModule(this)" for="FullScreenPreview">
        <img src="../images/works/wb/1.png" alt="" id="FSPImage">
        <p class="Default" lang-id="workTap">Нажмите в любое место для закрытия</p>
    </div>

    <!-- <div id="Cursor"><img src="images/cursor.png" alt=""></div>
    <div id="Cursor2" class=""></div> -->

    <script src="../js/language.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/module.js"></script>
    <script src="../js/work.js"></script>
    <script src="../js/flipper.js"></script>
</body>
</html>